.settings__setting {
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting:last-child {
    border-bottom: none;
}
.settings__setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
    width: 20px;
    height: 22px;
}
.settings__setting-column-state {
    opacity: 0.5;
}
.settings-list:first-child {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: var(--main-border);
}